/* Styles for the Donation component */


.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-color: black;
  box-shadow: 0px 3px 6px #34bcaa, 0px -3px 6px #debf12;
}

.donation-container {
  width: 80%;
  max-width: 1000px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #34bcaa, 0px -3px 6px #debf12;
}

.donation-info {
  text-align: center;
  margin-bottom: 30px;
  background-color: black;
}

.donation-info h2 {
  font-size: 2.5rem;
  color: #34bcaa;
}

.donation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  box-shadow: 0px 3px 6px #34bcaa, 0px -3px 6px #debf12;
}

.donate-card {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  margin-left: 15%;
  width: 75%;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  box-shadow: 0px 4px 6px rgba(52, 188, 170, 1.4);
}

.donate-button,
.campaigns-button,
.button {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-bottom: 10px;
  box-shadow: 0px 3px 6px #34bcaa, 0px -3px 6px #debf12;
}

.donate-button:hover,
.campaigns-button:hover,
.button:hover {
  background-color: #2980b9;
  box-shadow: 0px 3px 6px #debf12, 0px -3px 6px #34bcaa;
}

.modal-close {
  background-color: #e74c3c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

.modal-close:hover {
  background-color: darkred;
  box-shadow: 0px 3px 6px #debf12, 0px -3px 6px #34bcaa;
  color: white;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #34bcaa, 0px -3px 6px #debf12;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Additional styles for mobile responsiveness */

@media (max-width: 768px) {
  .donation-form {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .donate-button,
  .campaigns-button,
  .button {
    width: 80%;
    margin-bottom: 10px;
  }

  .buttonContainerStyles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttonContainerStyles > div {
    margin: 10px 0;
  }

  .missionStatementStyles {
    margin: 0;
  }
}