/* HomelessModal.css */

.modal-content {
  border-radius: 10px;
  background-color: black;
  box-shadow: 5px 5px 15px #34bcaa, -5px -5px 15px #debf12;
  color: #34bcaa;
  font-weight: bold;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  border: none;
  background-color: #f0f0f0;
  box-shadow: inset 2px 2px 5px #d9d9d9, inset -2px -2px 5px #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.form-control:focus {
  box-shadow: inset 3px 3px 7px #d9d9d9, inset -3px -3px 7px #ffffff;
}

.btn-secondary {
  background-color: red;
  color: black;
  font-weight: bold;
  box-shadow: 3px 3px 5px #34bcaa, -3px -3px 5px #debf12;
}

.btn-secondary:hover {
  background-color: black;
  color: red;
  font-weight: bold;
  box-shadow: 2px 2px 5px #debf12, -2px -2px 5px #34bcaa;
}

.btn-primary {
  background-color: #35baf6;
  border: none;
  color: #fff;
  box-shadow: 3px 3px 5px #34bcaa, -3px -3px 5px #debf12;
}

.btn-primary:hover {
  background-color: #1b8fc7;
  box-shadow: 2px 2px 5px #debf12, -2px -2px 5px #34bcaa;
}
