/* Styling for the Services */

.h,
h1,
h2,
h3,
p {
  text-align: center;
  color: #debf12;
  background-color: transparent;
}

.services-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 75%;
}

.services-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.services-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
}

.services-close {
  background-color: #e74c3c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

.services-close:hover {
  background-color: darkred;
  color: white;
  box-shadow: 0px 3px 6px #debf12, 0px -3px 6px #34bcaa;
}

/* Map Container */

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #fff;
}

.search-container input {
  width: 140px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

/* Map */

.map {
  height: 50vh;
  width: 50vw;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(52, 188, 170, 1.4);
  background-color: #fff;
}

/* Popup Content */

.leaflet-popup-content {
  text-align: center;
}

/* Popup Get Directions Link */

.leaflet-popup-content a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

/* Popup Get Directions Link Hover */

.leaflet-popup-content a:hover {
  text-decoration: underline;
}


* {
    text-decoration: none;
}



.leaflet-touch .leaflet-bar a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: black;
    background-color: white;
}

/* For screens with a maximum width of 768px (typical mobile devices) */

@media (max-width: 768px) {
  .map {
    width: 90vw;
  }

  .search-container {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 10px;
  }

  .search-container input {
    width: 100%;
    margin-bottom: 10px;
  }
}